.container {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding-left: 16px;
  padding-right: 16px;
}

/* Size variants */
.small {
  max-width: 640px;
}

.default {
  max-width: 1024px;
}

.large {
  max-width: 1280px;
}

.full {
  max-width: none;
}

/* Responsive padding */
@media (min-width: 768px) {
  .padding {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .padding {
    padding-left: 32px;
    padding-right: 32px;
  }
}